name: Build ISOs

on:
  workflow_dispatch:
  workflow_call:
  schedule:
    - cron: "30 17 * * *" # build at 17:00 UTC every day 
                          # (20 minutes after last ublue images start building)
  push:
    paths-ignore: # don't rebuild if only documentation has changed
      - "**.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-iso
  cancel-in-progress: true

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        image_name:
        #  - bnuy
          - bnuy-nvidia
        #  - bnuy-cosmic-nvidia
        #  - bnuy-cosmic
        major_version: [40]
    steps:

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set Image Tag
        id: generate-tag
        shell: bash
        run: |
          TAG="latest"
          if [[ "${{ github.ref_name }}" == "testing" ]]; then
              TAG="testing"
          fi
          # Would like to implement in the future. This will allow us to support image tags from a PR.
          #if [[ github.event.number ]]; then
          #  TAG="pr-${{ github.event.number }}-${{ matrix.major_version }}"
          #fi
          echo "tag=${TAG}" >> $GITHUB_OUTPUT
      
      - name: Set EXTRA_BOOT_PARAMS
        id: generate-extra-params
        shell: bash
        run: |
          EXTRA_BOOT_PARAMS=""
          if [[ "${{ matrix.image_name }}" =~ "deck" ]]; then
              EXTRA_BOOT_PARAMS="inst.resolution=1280x800"
          fi
          echo "extra-boot-params=${EXTRA_BOOT_PARAMS}" >> $GITHUB_OUTPUT
      
      - name: Build ISOs
        uses: jasonn3/build-container-installer@v1.2.1
        id: build
        with:
          arch: x86_64
          image_name: ${{ matrix.image_name }}
          image_repo: ghcr.io/oomfiee
          variant: 'Kinoite'
          version: ${{ matrix.major_version }}
          image_tag: ${{ steps.generate-tag.outputs.tag }}
          #secure_boot_key_url: 'https://github.com/ublue-os/akmods/raw/main/certs/public_key.der'
          #enrollment_password: 'ublue-os'
          iso_name: ${{ matrix.image_name }}-${{ steps.generate-tag.outputs.tag }}.iso
          enable_cache_dnf: "false"
          enable_cache_skopeo: "false"
          flatpak_remote_refs_dir: ${{ steps.generate-flatpak-dir-shortname.outputs.flatpak-dir-shortname }}
          enable_flatpak_dependencies: "false"
          extra_boot_params: ${{ steps.generate-extra-params.outputs.extra-boot-params }}
          #additional_templates: '/github/workspace/installer/lorax_templates/remove_root_password_prompt.tmpl'
          flatpak_remote_name: "flathub-system"
          flatpak_remote_url: "https://flathub.org/repo/flathub.flatpakrepo"

      - name: Upload ISO as artifact
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build.outputs.iso_name }}
          path: |
            ${{ steps.build.outputs.iso_path }}
            ${{ steps.build.outputs.iso_path }}-CHECKSUM
          if-no-files-found: error
          retention-days: 0
          compression-level: 0
